<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>105274946435-rpq3uim6mmseuehpeup895jmql8tdm56.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.105274946435-rpq3uim6mmseuehpeup895jmql8tdm56</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>105274946435-06o2e2lnlf3ta7k5752os4agf984miad.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBy909vYMRzEN4pvg6oNxcVSQ04UyeC5ss</string>
	<key>GCM_SENDER_ID</key>
	<string>105274946435</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.jobseekarapp</string>
	<key>PROJECT_ID</key>
	<string>paper-job-f97cc</string>
	<key>STORAGE_BUCKET</key>
	<string>paper-job-f97cc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:105274946435:ios:162411f97ffb6346773cb6</string>
</dict>
</plist>